.search_container {
  width: 60%;
  /* height: 70px; */
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 9px;
  padding: 9px;
  background-color: #fff;
}
.home_search_form {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-content: center;
}
.search_btn {
  width: 100%;
}
@media all and (min-width:481px) and (max-width:1024px){

    .search_container{
        width: 80%;
    }
    .home_search_form{
        grid-template-columns:repeat(1,1fr) ;
    }
    .home_search_form>div{
        margin-bottom: 9px;
    }
}
@media all and (min-width:320px) and (max-width:481px){
    .search_container{
        width: 90%;
    }
    .home_search_form{
        grid-template-columns:repeat(1,1fr) ;
    }
    .home_search_form>div{
        margin-bottom: 9px;
    }
}