.noresults {
  margin-left: 5px;
  margin-top: 50px;
  width: 98%;
  height: 76px;
  background-color: #c26565;
  border-left: 7px solid brown;
}

.noresults > div {
  margin-left: 10px;
  /* width: 133px; */
  padding-top: 8px;
  height: 36px;
  font-weight: 700;
  color: #ffffff;
  font-size: 26px;
}

.noresults > div ~ p {
  color: #ffffff;
  margin-left: 10px;
  padding-top: 9px;
}
