.container{
    /* border: 1px solid red; */
    display: flex;
    margin-top: 60px;
}
.left{
    /* border: 1px solid green; */
    width: 60%;
    background-color: white;
    /* position: fixed; */
}
.left > .top{
    /* top: 110px; */
    position: fixed;
    border: 1px solid #dedede;
    background-color: white;
    width: 60%;
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
}
.left > .bottom{
    margin-top: 100px;
    overflow-y: scroll;
    overflow: auto;
    padding: 10px 40px;
}
.tools{
    display: flex;
    justify-content: space-between;
}
.lists{
    overflow-y: scroll;
}
.right{
    width: 40%;
    /* border: 1px solid blue; */
    height: 100vh;
    position: fixed;
    right: 0;
}